*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

  .navbar{
    height: 10vh;
    // background-color: aqua;

  }
  .maincontent{
    display: flex;
    flex-direction: row;
    height: 100%;



   .sidebar{

      // width: 80px;
      height: 90vh;
      width: 17%;
      background-color: antiquewhite;
    }
    .main{
      background-color: green;
      height: 90vh;
      width:83% ;
  
    }
  

  }
 
}
